{{ define "main" }}
<article class="post">
    <header>
        <h1>{{ .Title }}</h1>
        <h2 class="headline">
        {{ .Date.Format "January 2, 2006" }}
        <br>
        {{ with .Params.tags }}
        {{ if ge (len .) 1 }}
            {{ range . }}
                <a href="{{ printf "tags/%s" (. | urlize) | absURL }}">{{ . }}</a>
            {{ end }}
        {{ end }}
        {{ end}}
        </h2>
    </header>
    <section id="post-body">
      {{ if eq .Params.toc "aside" }}
        <aside class="toc">
          <h2>Contents</h2>
          {{ .TableOfContents }}
        </aside>
      {{ end }}
      {{ if eq .Params.toc "header" }}
        <header class="toc">
          <h2>Contents</h2>
          {{ .TableOfContents }}
        </header>
      {{ end }}
      {{ .Content }}
    </section>
    <div class="articleStats">
      {{/* .Lastmod should be .GitInfo.AuthorDate, but that fails if pages aren't committed */}}
      <em>{{ .WordCount }} words, last modified {{ .Lastmod | dateFormat "2006-01-02 15:04" }}</em>
    </div>

</article>

{{ end }}
